.headerBox {
  height: 8vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(246, 246, 246);
  width: 100%;
}

.item > p {
  max-width: 12ch;
}

.grid {
  display: grid;
  grid-template-columns: 35% 20% 20% 20% 5%;
  padding: 20px 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headerBox {
    display: none;
  }
}

.gridHeader {
  font-weight: 500;
  font-size: 20px;
}

.gridHeader:last-child {
  margin-left: 40px;
}
