.headerBox {
  display: flex;
  flex-direction: row;
  height: 20vh;
  padding: 40px 80px 0 80px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headerBox {
    padding: 20px 30px 10px 30px;
    flex-direction: column;
  }
}

.fSize46 {
  font-size: 46px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .fSize46 {
    font-size: 32px;
  }
}

.mTop10 {
  margin-top: 10px;
}
h2:first-letter {
  margin-left: -2px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h2:first-letter {
    margin-left: 0;
  }
}
