.container {
  background-color: rgb(246, 246, 246);
  height: 80vh;
  padding: 50px 80px 80px 50px;
  border-radius: 90px 90px 0 0;
}

.scrollBox {
  height: 60vh;
  overflow-y: scroll;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    padding: 10px;
    border-radius: 40px 40px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .scrollBox {
    height: 65vh;
    margin-bottom: 10px;
  }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}