.main {
  height: 100vh;
  background-color: rgba(255, 253, 250, 1);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
