.expenceTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 50px;
  min-width: 200px;
  color: rgba(66, 66, 66, 1);
  font-weight: 500;
  font-size: 20px;
}

.expencesTotalBox {
  height: 6vh;
  margin-top: 20px;
}


