.headerBox {
  height: 8vh;
  position: fixed;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 40% 20% 12% 24% 2%;
  padding: 20px 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headerBox {
    display: none;
  }
}

.gridHeader {
  font-weight: 500;
  font-size: 20px;
}

.gridHeader:last-child {
  margin-left: 40px;
}
